/**
 ** 首页(index.html)
 */
.index{}
.index .nosubscribe{position: relative;}
.index .nosubscribe .btn-line{padding: 0.9rem 1rem 0;height: 6rem;margin-top: -6rem;background: #EB5C30;}
.index .subscribe .section{background: #fff;padding: 0 1rem;margin-bottom: 1.5rem;}
.index .subscribe .logo{margin:0 auto;padding-top: 0.5rem;height: 13.3rem;width: 21.8rem;margin-bottom: 1.7rem;background: url("../../img/hawkeye/yybb_icon_y.png") center bottom no-repeat;background-size: auto 13.3rem;text-align: center;color: #fff;font-size: 1.3rem;}
.index .subscribe .logo-date{padding-top: 9.1rem;}
.index .subscribe .line{line-height: 2.3rem;padding-bottom: 1.8rem;}
.index .subscribe .line-title{font-size: 1.3rem;color: #202020;padding-right: 0.4rem;}
.index .subscribe .line-title1{font-size: 1.3rem;color: #202020;padding-left: 0.9rem;}
.index .subscribe .signal{display: inline-block;font-size: 1.2rem;color: #adb3bf;border-radius: 2px;padding: 0 0.5rem;margin: 0 0.4rem;height: 2.3rem;line-height: 2.3rem;background: #f0f4fa;vertical-align: top;}
.index .subscribe .signal1{color: #fff;}
.index .subscribe .bg-red, .index .subscribe .bg-yellow, .index .subscribe .bg-yellow{color: #fff;}
.index .subscribe .per{padding-left: 1rem;font-size: 2.5rem;vertical-align: -0.2rem;}
.index .subscribe .per .unit{font-size: 1.6rem;color: #f43030;}
.index .probability-desc{line-height: 1.5rem;height: 1.5rem;font-size: 0.9rem;color: #96989c;padding-bottom: 2.1rem;}
.index .probability-w{width: 40%}
.index .probability-desc .ico{display: inline-block;vertical-align:top;width: 1.5rem;height: 1.5rem;vertical-align: top;margin-right: 0.8rem;}
.index .probability-list{text-align: center;font-size: 0.9rem;line-height: 3.6rem;padding-bottom: 0.4rem;overflow: auto;}
.index .probability-list ul{white-space: nowrap;font-size: 0;}
.index .probability-li{display:inline-block;width: 4rem;font-size: 1.2rem;}
.index .probability-li .ico{height: 4rem;}
.index .subscribe .section2{padding: 0;}
.index .subscribe .section2 .title{font-size: 1.4rem;height: 4rem;color: #202020;padding: 0 1rem;}
.index .subscribe .section2 .subtitle{font-size: 1.3rem;line-height: 2rem;color: #202020;padding: 0.7rem 1rem 0.7rem;}
.index .subscribe .section2 .plate{padding: 0 0.6rem;}
.index .subscribe .block-color1{background: #ff2d2c;}
.index .subscribe .block-color2{background: #3b60a7;}
.index .subscribe .block-color3{background: #ff5353;}
.index .subscribe .block-color4{background: #f92278;}
.index .subscribe .block-color5{background: #ff6c3a;}
.index .subscribe .block-color6{background: #fdb21c;}
.index .subscribe .block-color7{background: #5071ff;}
.index .subscribe .block-color8{background: #764ba5;}
.index .subscribe .block-color9{background: #47ccfd;}
.index .subscribe .block-color10{background: #00b385;}
.index .subscribe .plate-li{float: left;width: 50%;color: #fff;padding:0 0.4rem;text-align: center;line-height: 4.5rem;margin-bottom: 0.5rem;-webkit-box-sizing: border-box;box-sizing: border-box;}
.index .subscribe .plate-a{display: block;color: #fff;}
.index .subscribe .plate-title{font-size: 1.6rem;height: 6rem;line-height: 6rem;color: #fff;border-radius: 3px 3px 0 0;}
.index .subscribe .plate-desc{font-size: 1.2rem;height: 3rem;line-height: 3rem;color: #96989c;border: 1px solid #dbdee2;border-radius: 0 0 3px 3px;}
.index .subscribe .empty-li{padding: 8.1rem 0 1.2rem;font-size:1.3rem;color:#96989c;text-align: center;background: url("../../img/hawkeye/yybb_icon_bk.png") center top no-repeat;background-size: 7.5rem auto;}
.index .subscribe .section2 .desc{font-size: 1.1rem;line-height: 1.2rem;padding-top: 0.4rem;}
.index .subscribe .ico-star{display: inline-block;width: 1.1rem;height: 1.1rem;vertical-align: top;margin-right: 0.3rem;background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAANlBMVEX///+XmJynqKrt7u/m5+j5+fvMzM63t7nZ2dzS09Tf3+HT1Ne+v8Gvr7GfoKKYmZvz8/bFxso9sFWiAAAAl0lEQVQY03WPQbIDIQhEGxBFndH597/s18QyVMX0QqEXrx74JAhOifFYM59aIZITI6UThc3uE+N56PmqcwJS3qvRSgXqGlsBhLmEEQV0/qXdLyO9WnC3tks3KG5NMqfBy+1mgUvlJV/hMw9Unaf6Vkmm0XhIXW2M3GPsGWye8Zc4DDkeg2fQW1YvcpTSbeN62XV2spLxO//sKwNcw2+oTQAAAABJRU5ErkJggg==") no-repeat;background-size: 100%;}
.index .subscribe .font-18{font-size: 1.8rem;}
.index .subscribe .intro{padding: 0 1rem 3rem;line-height: 2.5rem;font-size: 1.5rem;color: #ff4342;}


/**
 ** 详情页(detail.html)
 */
.blocklist .list{font-size: 1.4rem;}
.blocklist .list-li{padding: 1.1rem 1.5rem 1.3rem;-webkit-box-sizing: border-box;box-sizing: border-box;background: #fff;}
.blocklist .stockname{float: left;width: 35%;}
.blocklist .stockname-title{line-height: 2.2rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.blocklist .stockname-id{font-size: 1.1rem;}

.blocklist .stockcap{float: left;width: 20%;}
.blocklist .stockcap-curmoney{line-height: 2.2rem;}
.blocklist .stockcap-curcap{font-size: 1.3rem;}

.blocklist .stockrole{float: left;width: 20%;text-align: center;padding-top: 0.7rem;}
.blocklist .stockrole-box{display: inline-block;width: 4rem;height: 2rem;line-height:2rem;font-size:1.4rem;color: #fff;border-radius: 2px;}

.blocklist .stockstatus{float: left;width: 25%;text-align: right;line-height: 3.4rem;}







